In [1]:
#import sys
#!{sys.executable} -m pip install --upgrade "scikit-learn>=1.6.1,<1.7" category_encoders shap lyft_fugue

In [1]:
#usual packages
import sklearn
import numpy as np
from IPython.display import IFrame
from sklearn.model_selection import GroupKFold
from datetime import date
import pandas as pd
from pandas import DataFrame
import subprocess
import sys

#lyft packages
import lyft_data_toolkit.db.write.df
from lyft_data_toolkit.db.read import Compute
from lyft_data_toolkit.db.read import Query
from lyft_data_toolkit.db.read.df import to_dataframe  
from lyft_data_toolkit.v1_to_v3 import hive
from lyft_data_toolkit.v1_to_v3 import presto
from lyft_data_toolkit.v1_to_v3 import spark
from lyft_data_toolkit.v1_to_v3 import trino

#other packages
import matplotlib.pyplot as plt
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA

### 1. Run/change parameters

In [32]:
from datetime import datetime, timedelta

today = datetime.today().date()

# Get previous week's Monday
report_start_dt = today - timedelta(days=today.weekday() + 7)
# Get previous week's Sunday
report_end_dt = report_start_dt + timedelta(days=6)

# Output as strings
report_start_dt = report_start_dt.strftime('%Y-%m-%d')
report_end_dt = report_end_dt.strftime('%Y-%m-%d')

print(report_start_dt, report_end_dt)

2025-11-03 2025-11-09

In [33]:
today.weekday()

3

In [2]:
########### parameters 
launch_date = "2025-08-04"
report_start_dt = "2025-11-03"
report_end_dt = "2025-11-09"

In [3]:
lift_lookup = pd.read_csv("weekly_lift_data.csv")
### insert in new on demand data 
lift_lookup = pd.concat([
    lift_lookup,
    pd.DataFrame([{
        "week_num": 45, #######
        "year_num": 2025, ###
        "starting_week_date": "2025-11-03", #######
        "pre_existing_rider_lift": 0.0137, #########
        "new_rider_pp_lift": 1.1763 #######
    }])
], ignore_index=True)

lift_lookup = lift_lookup.sort_values("starting_week_date").drop_duplicates(ignore_index=True).reset_index(drop=True)
lift_lookup
lift_lookup.to_csv("weekly_lift_data.csv",index =False)

In [4]:
lift_lookup

,week_num,year_num,starting_week_date,pre_existing_rider_lift,new_rider_pp_lift
0,32,2025,2025-08-04,0.0023,1.8330
1,33,2025,2025-08-11,0.0023,1.8330
2,34,2025,2025-08-18,0.0023,1.8330
3,35,2025,2025-08-25,0.0023,1.8330
4,36,2025,2025-09-01,0.0023,1.8330
5,37,2025,2025-09-08,0.0023,1.8330
6,38,2025,2025-09-15,0.0023,1.8330
7,39,2025,2025-09-22,0.0023,1.8330
8,40,2025,2025-09-29,0.0023,1.8330
9,41,2025,2025-10-06,0.0130,1.2870
10,42,2025,2025-10-13,0.0060,1.1290
11,43,2025,2025-10-20,0.0167,1.2154
12,44,2025,2025-10-27,0.0167,1.2154
13,45,2025,2025-11-03,0.0137,1.1763

### 2. Run Prediction

In [5]:

SQL ="""
--higherlimit
WITH pre_final_table AS (
SELECT DISTINCT 
       sub1.rider_lyft_id,
       sub1.business_program_user_id,
       sub1.business_program_type,
       sub1.business_program_type_cleaned,
       sub1.lyft_signed_up_at,
       sub1.bp_created_at,
       sub1.bp_activated_at,
       sub1.user_type,
       sub1.sub_user_type,
       sub2.first_ride_finished_at
  FROM shuninga.causal_analysis_bp_raw_data_step_4 sub1
  LEFT JOIN coco.dim_user sub2 
    ON sub1.rider_lyft_id = sub2.user_lyft_id
 WHERE sub1.is_business_ride = TRUE 
) 

,pre_final_table_v2 AS (
SELECT rider_lyft_id,
       business_program_user_id,
       business_program_type,
       business_program_type_cleaned,
       lyft_signed_up_at,
       bp_created_at,
       bp_activated_at,
       user_type,
       sub_user_type,
       first_ride_finished_at,
       ROW_NUMBER() OVER(PARTITION BY rider_lyft_id ORDER BY bp_activated_at DESC) rnk 
  FROM pre_final_table 
 WHERE TRUE
)

SELECT DATE_TRUNC('week',CAST(bp_activated_at AS DATE)) week,
       business_program_type_cleaned,
       CASE WHEN DATE_DIFF('day',first_ride_finished_at,bp_activated_at) > 0 THEN 'PP' ELSE 'NP' END AS activation_type, -- proxy for NP/PP
       COUNT(DISTINCT rider_lyft_id) count_activations
  FROM pre_final_table_v2
 WHERE TRUE 
   AND rnk = 1
 GROUP BY 1,2,3
"""  
df = pd.DataFrame()
df = trino.query(SQL, scheduled=True)

{"ts": "2025-11-13T21:47:33.226Z", "uuid": "34f776d1-5e53-4fb7-b47a-48c5f346f3c3", "name": "lyft_data_toolkit.v1_to_v3.trino", "lvlname": "WARNING", "lvlno": 30, "pid": 571, "call_site": "code/venvs/venv/lib/python3.10/site-packages/lyft_data_toolkit/v1_to_v3/trino.py:26", "revision": "b8758af9c9", "msg": "DEPRECATION WARNING: trino.query method is outdated.Please use the new query function in the lyft_data_toolkit package."}
/code/venvs/venv/lib/python3.10/site-packages/lyft_stats/client.py:347: UserWarning: Attempting to establish a new TCP stats connection
  warnings.warn("Attempting to establish a new TCP stats connection")

Created Mozart command
{'mozart_id': 567409295, 'backend': 'presto', 'native_command_id': '', 'job_url': 'https://sql.lyft.net/databases/mozart/queries/567409295', 'query': "--higherlimit\nWITH pre_final_table AS (\nSELECT DISTINCT \n       sub1.rider_lyft_id,\n       sub1.business_program_user_id,\n       sub1.business_program_type,\n       sub1.business_program_type_cleaned,\n       sub1.lyft_signed_up_at,\n       sub1.bp_created_at,\n       sub1.bp_activated_at,\n       sub1.user_type,\n       sub1.sub_user_type,\n       sub2.first_ride_finished_at\n  FROM shuninga.causal_analysis_bp_raw_data_step_4 sub1\n  LEFT JOIN coco.dim_user sub2 \n    ON sub1.rider_lyft_id = sub2.user_lyft_id\n WHERE sub1.is_business_ride = TRUE \n) \n\n,pre_final_table_v2 AS (\nSELECT rider_lyft_id,\n       business_program_user_id,\n       business_program_type,\n       business_program_type_cleaned,\n       lyft_signed_up_at,\n       bp_created_at,\n       bp_activated_at,\n       user_type,\n       sub_user_type,\n       first_ride_finished_at,\n       ROW_NUMBER() OVER(PARTITION BY rider_lyft_id ORDER BY bp_activated_at DESC) rnk \n  FROM pre_final_table \n WHERE TRUE\n)\n\nSELECT DATE_TRUNC('week',CAST(bp_activated_at AS DATE)) week,\n       business_program_type_cleaned,\n       CASE WHEN DATE_DIFF('day',first_ride_finished_at,bp_activated_at) > 0 THEN 'PP' ELSE 'NP' END AS activation_type, -- proxy for NP/PP\n       COUNT(DISTINCT rider_lyft_id) count_activations\n  FROM pre_final_table_v2\n WHERE TRUE \n   AND rnk = 1\n GROUP BY 1,2,3"}
s3://mozartgateway-production-iad/mz/cmd/results/567409295/

In [6]:
df.columns

Index(['week', 'business_program_type_cleaned', 'activation_type',
       'count_activations'],
      dtype='object')

In [7]:
#pivot table to have columns for managed vs organic activations
df_pivot = df.pivot_table(
    index=["week", "activation_type"],
    columns="business_program_type_cleaned",
    values="count_activations",
    fill_value=0
).reset_index()

print(df_pivot)

business_program_type_cleaned       week activation_type  managed  organic
0                             2021-08-09              NP       10        1
1                             2021-08-09              PP      932      850
2                             2021-08-16              NP       39        4
3                             2021-08-16              PP     1962     1720
4                             2021-08-23              NP       16        3
..                                   ...             ...      ...      ...
441                           2025-10-27              PP     1417     3990
442                           2025-11-03              NP      187      141
443                           2025-11-03              PP     1479     4608
444                           2025-11-10              NP       50       33
445                           2025-11-10              PP      516     1453

[446 rows x 4 columns]

In [8]:
np_df = df_pivot[df_pivot.activation_type == "NP"]
pp_df = df_pivot[df_pivot.activation_type == "PP"]

In [9]:
import pandas as pd
import numpy as np
from statsmodels.tsa.arima.model import ARIMA
from joblib import load

# launch_date = "2025-08-04"

np_df = df_pivot[df_pivot["activation_type"] == "NP"].copy()
pp_df = df_pivot[df_pivot["activation_type"] == "PP"].copy()

def add_lags(df):
    df = df.sort_values("week").reset_index(drop=True)
    df["organic_lag1"] = df["organic"].shift(1).fillna(method='bfill')
    df["organic_lag2"] = df["organic"].shift(2).fillna(method='bfill')
    return df

np_df = add_lags(np_df)
pp_df = add_lags(pp_df)

def predict_post_rewards(df, model_file, use_lag2=True):
    post_df = df[df["week"] >= launch_date].copy()
    if post_df.empty:
        print(f"No post-rewards data for {model_file}")
        return None
    
    #features = ["organic", "organic_lag1"]
    #if use_lag2:
        #features.append("organic_lag2")
    
    X_post = post_df["organic"]
    
    model = load(model_file)
    
    post_df["predicted_managed"] = model.predict(
        start=len(df[df["week"] < launch_date]),
        end=len(df)-1,
        exog=X_post
    )
    
    return post_df[["week", "managed", "predicted_managed"]]

np_post_preds = predict_post_rewards(np_df, "arimax_model_np.pkl", use_lag2=False)
pp_post_preds = predict_post_rewards(pp_df, "arimax_model_pp.pkl", use_lag2=True)

if np_post_preds is not None:
    np_post_preds.to_csv("np_post_rewards_predictions.csv", index=False)
    print("NP post-rewards predictions exported to np_post_rewards_predictions.csv")

if pp_post_preds is not None:
    pp_post_preds.to_csv("pp_post_rewards_predictions.csv", index=False)
    print("PP post-rewards predictions exported to pp_post_rewards_predictions.csv")

print("NP Post-Rewards Predictions:")
print(np_post_preds)

print("PP Post-Rewards Predictions:")
print(pp_post_preds)

NP post-rewards predictions exported to np_post_rewards_predictions.csv
PP post-rewards predictions exported to pp_post_rewards_predictions.csv
NP Post-Rewards Predictions:
business_program_type_cleaned       week  managed  predicted_managed
208                           2025-08-04      134         133.393125
209                           2025-08-11      120         142.826053
210                           2025-08-18      131         141.851859
211                           2025-08-25       92         121.021250
212                           2025-09-01      109         110.594195
213                           2025-09-08      153         160.600157
214                           2025-09-15      172         162.041984
215                           2025-09-22      151         143.659792
216                           2025-09-29      170         126.124932
217                           2025-10-06      195         151.968766
218                           2025-10-13      146         167.915443
219                           2025-10-20      179         148.257659
220                           2025-10-27      174         138.826460
221                           2025-11-03      187         162.103010
222                           2025-11-10       50          97.310167
PP Post-Rewards Predictions:
business_program_type_cleaned       week  managed  predicted_managed
208                           2025-08-04     1194        1197.305666
209                           2025-08-11     1166        1177.690350
210                           2025-08-18     1205        1140.634772
211                           2025-08-25      946         969.138803
212                           2025-09-01      899         987.000457
213                           2025-09-08     1533        1386.249461
214                           2025-09-15     1660        1467.030963
215                           2025-09-22     1374        1266.071561
216                           2025-09-29     1259        1141.010512
217                           2025-10-06     1548        1285.324638
218                           2025-10-13     1505        1318.358113
219                           2025-10-20     1490        1286.797975
220                           2025-10-27     1417        1104.495845
221                           2025-11-03     1479        1255.857243
222                           2025-11-10      516         431.085806

### 3. calculate additional acitivation percentage - get incremental part into dataframe

In [10]:
np_preds = np_post_preds.reset_index(drop= True)
pp_preds = pp_post_preds.reset_index(drop = True)

In [11]:
np_preds['addl_activations'] = ((np_preds['managed'] - np_preds['predicted_managed']).clip(lower=0)).astype(int)
pp_preds['addl_activations'] = ((pp_preds['managed'] - pp_preds['predicted_managed']).clip(lower=0)).astype(int)

In [12]:
np_preds['perc_addl_activations'] = np_preds['addl_activations']/np_preds['managed']
pp_preds['perc_addl_activations'] = pp_preds['addl_activations']/pp_preds['managed']

In [13]:
np_preds

business_program_type_cleaned,week,managed,predicted_managed,addl_activations,perc_addl_activations
0,2025-08-04,134,133.393125,0,0.000000
1,2025-08-11,120,142.826053,0,0.000000
2,2025-08-18,131,141.851859,0,0.000000
3,2025-08-25,92,121.021250,0,0.000000
4,2025-09-01,109,110.594195,0,0.000000
5,2025-09-08,153,160.600157,0,0.000000
6,2025-09-15,172,162.041984,9,0.052326
7,2025-09-22,151,143.659792,7,0.046358
8,2025-09-29,170,126.124932,43,0.252941
9,2025-10-06,195,151.968766,43,0.220513
10,2025-10-13,146,167.915443,0,0.000000
11,2025-10-20,179,148.257659,30,0.167598
12,2025-10-27,174,138.826460,35,0.201149
13,2025-11-03,187,162.103010,24,0.128342
14,2025-11-10,50,97.310167,0,0.000000

### 5. to build pre existing, new user pp, np rides table

#### 5.1 get pre existing data

In [14]:
pre_existing_sql  = f"""
-- higherlimit
SELECT week(requested_at) as week_num, year(requested_at) as year_num, 
DATE_TRUNC('week',CAST(requested_at AS DATE)) starting_week_date, 
date_diff('week',date'2025-08-04', requested_at) as post_reward_week_num,
'pre_existing' as user_type,
count(distinct ride_id) as num_rides_pre_existing,
sum(count(distinct ride_id)) over (order by date_diff('week',date'2025-08-04', requested_at) asc) as cum_rides_pre_existing
FROM shuninga.causal_analysis_bp_raw_data_step_4 
 WHERE user_type = 'pre-existing-user'
   AND most_used_business_program_type_cleaned = 'managed' 
  and date(requested_at) between date'{launch_date}' and date'{report_end_dt}'
  group by 1,2,3,4,5
  order by 1,2
  """ 
pre_exisiting_rides = pd.DataFrame()
pre_exisiting_rides = trino.query(pre_existing_sql, scheduled= True)

{"ts": "2025-11-13T21:50:01.130Z", "uuid": "78f1eb19-6a0d-4df0-9450-0e29dbc6b593", "name": "lyft_data_toolkit.v1_to_v3.trino", "lvlname": "WARNING", "lvlno": 30, "pid": 571, "call_site": "code/venvs/venv/lib/python3.10/site-packages/lyft_data_toolkit/v1_to_v3/trino.py:26", "revision": "b8758af9c9", "msg": "DEPRECATION WARNING: trino.query method is outdated.Please use the new query function in the lyft_data_toolkit package."}

Created Mozart command
{'mozart_id': 567410073, 'backend': 'presto', 'native_command_id': '', 'job_url': 'https://sql.lyft.net/databases/mozart/queries/567410073', 'query': "-- higherlimit\nSELECT week(requested_at) as week_num, year(requested_at) as year_num, \nDATE_TRUNC('week',CAST(requested_at AS DATE)) starting_week_date, \ndate_diff('week',date'2025-08-04', requested_at) as post_reward_week_num,\n'pre_existing' as user_type,\ncount(distinct ride_id) as num_rides_pre_existing,\nsum(count(distinct ride_id)) over (order by date_diff('week',date'2025-08-04', requested_at) asc) as cum_rides_pre_existing\nFROM shuninga.causal_analysis_bp_raw_data_step_4 \n WHERE user_type = 'pre-existing-user'\n   AND most_used_business_program_type_cleaned = 'managed' \n  and date(requested_at) between date'2025-08-04' and date'2025-11-09'\n  group by 1,2,3,4,5\n  order by 1,2"}
s3://mozartgateway-production-iad/mz/cmd/results/567410073/

In [15]:
pre_exisiting_rides.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   week_num                14 non-null     int64
 1   year_num                14 non-null     int64
 2   starting_week_date      14 non-null     datetime64[ns]
 3   post_reward_week_num    14 non-null     int64
 4   user_type               14 non-null     object
 5   num_rides_pre_existing  14 non-null     int64
 6   cum_rides_pre_existing  14 non-null     int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 912.0+ bytes

In [16]:
lift_lookup["starting_week_date"] = pd.to_datetime(lift_lookup["starting_week_date"])
pre_exisiting_rides = pd.merge(
    pre_exisiting_rides,
    lift_lookup[["starting_week_date", "pre_existing_rider_lift"]],
    on="starting_week_date",
    how="left" 
)
pre_exisiting_rides.drop_duplicates(ignore_index=True)

,week_num,year_num,starting_week_date,post_reward_week_num,user_type,num_rides_pre_existing,cum_rides_pre_existing,pre_existing_rider_lift
0,32,2025,2025-08-04,0,pre_existing,71320,71320,0.0023
1,33,2025,2025-08-11,1,pre_existing,70202,141522,0.0023
2,34,2025,2025-08-18,2,pre_existing,70015,211537,0.0023
3,35,2025,2025-08-25,3,pre_existing,67573,279110,0.0023
4,36,2025,2025-09-01,4,pre_existing,64022,343132,0.0023
5,37,2025,2025-09-08,5,pre_existing,78705,421837,0.0023
6,38,2025,2025-09-15,6,pre_existing,81837,503674,0.0023
7,39,2025,2025-09-22,7,pre_existing,76975,580649,0.0023
8,40,2025,2025-09-29,8,pre_existing,74343,654992,0.0023
9,41,2025,2025-10-06,9,pre_existing,79738,734730,0.0130
10,42,2025,2025-10-13,10,pre_existing,80612,815342,0.0060
11,43,2025,2025-10-20,11,pre_existing,80710,896052,0.0167
12,44,2025,2025-10-27,12,pre_existing,79180,975232,0.0167
13,45,2025,2025-11-03,13,pre_existing,81265,1056497,0.0137

In [17]:
pre_exisiting_rides['pre_existing_incr_rides'] =  (1-1/(1+pre_exisiting_rides['pre_existing_rider_lift']))*pre_exisiting_rides['num_rides_pre_existing']
pre_exisiting_rides

,week_num,year_num,starting_week_date,post_reward_week_num,user_type,num_rides_pre_existing,cum_rides_pre_existing,pre_existing_rider_lift,pre_existing_incr_rides
0,32,2025,2025-08-04,0,pre_existing,71320,71320,0.0023,163.659583
1,33,2025,2025-08-11,1,pre_existing,70202,141522,0.0023,161.094084
2,34,2025,2025-08-18,2,pre_existing,70015,211537,0.0023,160.664971
3,35,2025,2025-08-25,3,pre_existing,67573,279110,0.0023,155.061259
4,36,2025,2025-09-01,4,pre_existing,64022,343132,0.0023,146.912701
5,37,2025,2025-09-08,5,pre_existing,78705,421837,0.0023,180.606106
6,38,2025,2025-09-15,6,pre_existing,81837,503674,0.0023,187.793176
7,39,2025,2025-09-22,7,pre_existing,76975,580649,0.0023,176.636237
8,40,2025,2025-09-29,8,pre_existing,74343,654992,0.0023,170.596528
9,41,2025,2025-10-06,9,pre_existing,79738,734730,0.0130,1023.291214
10,42,2025,2025-10-13,10,pre_existing,80612,815342,0.0060,480.787276
11,43,2025,2025-10-20,11,pre_existing,80710,896052,0.0167,1325.717517
12,44,2025,2025-10-27,12,pre_existing,79180,975232,0.0167,1300.586210
13,45,2025,2025-11-03,13,pre_existing,81265,1056497,0.0137,1098.284009

#### 5.2 get np and pp data

In [18]:
########## pp new user 
# np_preds 
# pp_preds
np_preds

business_program_type_cleaned,week,managed,predicted_managed,addl_activations,perc_addl_activations
0,2025-08-04,134,133.393125,0,0.000000
1,2025-08-11,120,142.826053,0,0.000000
2,2025-08-18,131,141.851859,0,0.000000
3,2025-08-25,92,121.021250,0,0.000000
4,2025-09-01,109,110.594195,0,0.000000
5,2025-09-08,153,160.600157,0,0.000000
6,2025-09-15,172,162.041984,9,0.052326
7,2025-09-22,151,143.659792,7,0.046358
8,2025-09-29,170,126.124932,43,0.252941
9,2025-10-06,195,151.968766,43,0.220513
10,2025-10-13,146,167.915443,0,0.000000
11,2025-10-20,179,148.257659,30,0.167598
12,2025-10-27,174,138.826460,35,0.201149
13,2025-11-03,187,162.103010,24,0.128342
14,2025-11-10,50,97.310167,0,0.000000

In [19]:
new_user_pp_sql = f"""
WITH week_bounds AS (
  SELECT 
    week_start,
    DATE_ADD('day', 6, week_start) AS week_end
  FROM UNNEST(SEQUENCE(DATE '2025-08-04', DATE'{report_end_dt}', INTERVAL '7' DAY)) AS t(week_start)
)

SELECT
  week(wb.week_start) as week_num,
  year(wb.week_start) as year_num,
  wb.week_start as starting_week_date,
  date_diff('week',date'2025-08-04', week_start) as post_reward_week_num,
  'new user pp' as user_type,
  COUNT(DISTINCT ride_id) AS num_rides_new_pp,
  sum(count(distinct ride_id)) over (order by date_diff('week',date'2025-08-04', week_start) asc) as cum_rides_new_pp
FROM week_bounds wb
LEFT JOIN shuninga.causal_analysis_bp_raw_data_step_4 d
  ON DATE(d.requested_at) BETWEEN date(wb.week_start) AND date(wb.week_end)
  AND d.user_type = 'new-user-PP'
  AND d.most_used_business_program_type_cleaned = 'managed'
  AND d.most_used_bp_activated_at BETWEEN DATE'2025-08-04' AND date(wb.week_end)
GROUP BY 1,2,3,4,5
ORDER BY 3
"""
new_pp_rides = pd.DataFrame()
new_pp_rides = trino.query(new_user_pp_sql,scheduled =True)
new_pp_rides

{"ts": "2025-11-13T21:50:22.244Z", "uuid": "25eae2f7-35ce-4277-9246-33915a1c4400", "name": "lyft_data_toolkit.v1_to_v3.trino", "lvlname": "WARNING", "lvlno": 30, "pid": 571, "call_site": "code/venvs/venv/lib/python3.10/site-packages/lyft_data_toolkit/v1_to_v3/trino.py:26", "revision": "b8758af9c9", "msg": "DEPRECATION WARNING: trino.query method is outdated.Please use the new query function in the lyft_data_toolkit package."}

Created Mozart command
{'mozart_id': 567410205, 'backend': 'presto', 'native_command_id': '', 'job_url': 'https://sql.lyft.net/databases/mozart/queries/567410205', 'query': "WITH week_bounds AS (\n  SELECT \n    week_start,\n    DATE_ADD('day', 6, week_start) AS week_end\n  FROM UNNEST(SEQUENCE(DATE '2025-08-04', DATE'2025-11-09', INTERVAL '7' DAY)) AS t(week_start)\n)\n\nSELECT\n  week(wb.week_start) as week_num,\n  year(wb.week_start) as year_num,\n  wb.week_start as starting_week_date,\n  date_diff('week',date'2025-08-04', week_start) as post_reward_week_num,\n  'new user pp' as user_type,\n  COUNT(DISTINCT ride_id) AS num_rides_new_pp,\n  sum(count(distinct ride_id)) over (order by date_diff('week',date'2025-08-04', week_start) asc) as cum_rides_new_pp\nFROM week_bounds wb\nLEFT JOIN shuninga.causal_analysis_bp_raw_data_step_4 d\n  ON DATE(d.requested_at) BETWEEN date(wb.week_start) AND date(wb.week_end)\n  AND d.user_type = 'new-user-PP'\n  AND d.most_used_business_program_type_cleaned = 'managed'\n  AND d.most_used_bp_activated_at BETWEEN DATE'2025-08-04' AND date(wb.week_end)\nGROUP BY 1,2,3,4,5\nORDER BY 3"}
s3://mozartgateway-production-iad/mz/cmd/results/567410205/

,week_num,year_num,starting_week_date,post_reward_week_num,user_type,num_rides_new_pp,cum_rides_new_pp
0,32,2025,2025-08-04,0,new user pp,2521,2521
1,33,2025,2025-08-11,1,new user pp,3120,5641
2,34,2025,2025-08-18,2,new user pp,3782,9423
3,35,2025,2025-08-25,3,new user pp,4114,13537
4,36,2025,2025-09-01,4,new user pp,4046,17583
5,37,2025,2025-09-08,5,new user pp,6346,23929
6,38,2025,2025-09-15,6,new user pp,7778,31707
7,39,2025,2025-09-22,7,new user pp,7533,39240
8,40,2025,2025-09-29,8,new user pp,7680,46920
9,41,2025,2025-10-06,9,new user pp,9507,56427
10,42,2025,2025-10-13,10,new user pp,9733,66160
11,43,2025,2025-10-20,11,new user pp,10751,76911
12,44,2025,2025-10-27,12,new user pp,11944,88855
13,45,2025,2025-11-03,13,new user pp,12516,101371

In [20]:
pp_preds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   week                   15 non-null     datetime64[ns]
 1   managed                15 non-null     int64
 2   predicted_managed      15 non-null     float64
 3   addl_activations       15 non-null     int64
 4   perc_addl_activations  15 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(2)
memory usage: 728.0 bytes

In [21]:
new_pp_rides = pd.merge(new_pp_rides,
                        pp_preds[["week","perc_addl_activations"]],
                        left_on = "starting_week_date",
                        right_on = "week",
                        how = "left"
                       ) 

new_pp_rides = pd.merge(new_pp_rides,
                        lift_lookup[['starting_week_date','pre_existing_rider_lift','new_rider_pp_lift']],
                        on = 'starting_week_date',
                        how = 'left')
new_pp_rides

,week_num,year_num,starting_week_date,post_reward_week_num,user_type,num_rides_new_pp,cum_rides_new_pp,week,perc_addl_activations,pre_existing_rider_lift,new_rider_pp_lift
0,32,2025,2025-08-04,0,new user pp,2521,2521,2025-08-04,0.000000,0.0023,1.8330
1,33,2025,2025-08-11,1,new user pp,3120,5641,2025-08-11,0.000000,0.0023,1.8330
2,34,2025,2025-08-18,2,new user pp,3782,9423,2025-08-18,0.053112,0.0023,1.8330
3,35,2025,2025-08-25,3,new user pp,4114,13537,2025-08-25,0.000000,0.0023,1.8330
4,36,2025,2025-09-01,4,new user pp,4046,17583,2025-09-01,0.000000,0.0023,1.8330
5,37,2025,2025-09-08,5,new user pp,6346,23929,2025-09-08,0.095238,0.0023,1.8330
6,38,2025,2025-09-15,6,new user pp,7778,31707,2025-09-15,0.115663,0.0023,1.8330
7,39,2025,2025-09-22,7,new user pp,7533,39240,2025-09-22,0.077875,0.0023,1.8330
8,40,2025,2025-09-29,8,new user pp,7680,46920,2025-09-29,0.092931,0.0023,1.8330
9,41,2025,2025-10-06,9,new user pp,9507,56427,2025-10-06,0.169251,0.0130,1.2870
10,42,2025,2025-10-13,10,new user pp,9733,66160,2025-10-13,0.123588,0.0060,1.1290
11,43,2025,2025-10-20,11,new user pp,10751,76911,2025-10-20,0.136242,0.0167,1.2154
12,44,2025,2025-10-27,12,new user pp,11944,88855,2025-10-27,0.220183,0.0167,1.2154
13,45,2025,2025-11-03,13,new user pp,12516,101371,2025-11-03,0.150778,0.0137,1.1763

In [22]:
### calculate incremental rides
new_pp_rides['pp_counterfactual_rides'] = new_pp_rides['num_rides_new_pp']*(1-new_pp_rides['perc_addl_activations'])
new_pp_rides['pp_addl_rides'] = new_pp_rides['num_rides_new_pp']- new_pp_rides['pp_counterfactual_rides'] 
new_pp_rides['pp_incre_rides_from_counterfactual'] = (1-1/(1+new_pp_rides['pre_existing_rider_lift']))*new_pp_rides['pp_counterfactual_rides']
new_pp_rides['pp_incre_rides_from_addl'] = (1-1/(1+new_pp_rides['new_rider_pp_lift']))*new_pp_rides['pp_addl_rides']

In [23]:
new_pp_rides

,week_num,year_num,starting_week_date,post_reward_week_num,user_type,num_rides_new_pp,cum_rides_new_pp,week,perc_addl_activations,pre_existing_rider_lift,new_rider_pp_lift,pp_counterfactual_rides,pp_addl_rides,pp_incre_rides_from_counterfactual,pp_incre_rides_from_addl
0,32,2025,2025-08-04,0,new user pp,2521,2521,2025-08-04,0.000000,0.0023,1.8330,2521.000000,0.000000,5.784995,0.000000
1,33,2025,2025-08-11,1,new user pp,3120,5641,2025-08-11,0.000000,0.0023,1.8330,3120.000000,0.000000,7.159533,0.000000
2,34,2025,2025-08-18,2,new user pp,3782,9423,2025-08-18,0.053112,0.0023,1.8330,3581.130290,200.869710,8.217699,129.966176
3,35,2025,2025-08-25,3,new user pp,4114,13537,2025-08-25,0.000000,0.0023,1.8330,4114.000000,0.000000,9.440487,0.000000
4,36,2025,2025-09-01,4,new user pp,4046,17583,2025-09-01,0.000000,0.0023,1.8330,4046.000000,0.000000,9.284446,0.000000
5,37,2025,2025-09-08,5,new user pp,6346,23929,2025-09-08,0.095238,0.0023,1.8330,5741.619048,604.380952,13.175420,391.044930
6,38,2025,2025-09-15,6,new user pp,7778,31707,2025-09-15,0.115663,0.0023,1.8330,6878.375904,899.624096,15.783961,582.072350
7,39,2025,2025-09-22,7,new user pp,7533,39240,2025-09-22,0.077875,0.0023,1.8330,6946.368996,586.631004,15.939987,379.560406
8,40,2025,2025-09-29,8,new user pp,7680,46920,2025-09-29,0.092931,0.0023,1.8330,6966.290707,713.709293,15.985702,461.782257
9,41,2025,2025-10-06,9,new user pp,9507,56427,2025-10-06,0.169251,0.0130,1.2870,7897.934109,1609.065891,101.355522,905.495322
10,42,2025,2025-10-13,10,new user pp,9733,66160,2025-10-13,0.123588,0.0060,1.1290,8530.117608,1202.882392,50.875453,637.883617
11,43,2025,2025-10-20,11,new user pp,10751,76911,2025-10-20,0.136242,0.0167,1.2154,9286.266443,1464.733557,152.533343,803.573696
12,44,2025,2025-10-27,12,new user pp,11944,88855,2025-10-27,0.220183,0.0167,1.2154,9314.128440,2629.871560,152.990995,1442.785002
13,45,2025,2025-11-03,13,new user pp,12516,101371,2025-11-03,0.150778,0.0137,1.1763,10628.868154,1887.131846,143.647523,1020.003304

#### get new user np data

In [24]:
new_user_np_sql=f"""
WITH week_bounds AS (
  SELECT 
    week_start,
    DATE_ADD('day', 6, week_start) AS week_end
  FROM UNNEST(SEQUENCE(DATE '2025-08-04', DATE'{report_end_dt}', INTERVAL '7' DAY)) AS t(week_start)
)

SELECT
  week(wb.week_start) as week_num,
  year(wb.week_start) as year_num,
  wb.week_start as starting_week_date,
  date_diff('week',date'2025-08-04', week_start) as post_reward_week_num,
  'new user np' as user_type,
  COUNT(DISTINCT ride_id) AS num_rides_new_np,
  sum(count(distinct ride_id)) over (order by date_diff('week',date'2025-08-04', week_start) asc) as cum_rides_new_np
FROM week_bounds wb
LEFT JOIN shuninga.causal_analysis_bp_raw_data_step_4 d
  ON DATE(d.requested_at) BETWEEN date(wb.week_start) AND date(wb.week_end)
  AND d.user_type = 'new-user-NP'
  AND d.most_used_business_program_type_cleaned = 'managed'
  AND d.most_used_bp_activated_at BETWEEN DATE'2025-08-04' AND date(wb.week_end)
GROUP BY 1,2,3,4,5
ORDER BY 3
"""
new_np_rides = pd.DataFrame()
new_np_rides = trino.query(new_user_np_sql,scheduled =True)
new_np_rides

{"ts": "2025-11-13T21:51:03.169Z", "uuid": "6b182264-885c-4090-8584-7ffb1cc18293", "name": "lyft_data_toolkit.v1_to_v3.trino", "lvlname": "WARNING", "lvlno": 30, "pid": 571, "call_site": "code/venvs/venv/lib/python3.10/site-packages/lyft_data_toolkit/v1_to_v3/trino.py:26", "revision": "b8758af9c9", "msg": "DEPRECATION WARNING: trino.query method is outdated.Please use the new query function in the lyft_data_toolkit package."}

Created Mozart command
{'mozart_id': 567410400, 'backend': 'presto', 'native_command_id': '', 'job_url': 'https://sql.lyft.net/databases/mozart/queries/567410400', 'query': "WITH week_bounds AS (\n  SELECT \n    week_start,\n    DATE_ADD('day', 6, week_start) AS week_end\n  FROM UNNEST(SEQUENCE(DATE '2025-08-04', DATE'2025-11-09', INTERVAL '7' DAY)) AS t(week_start)\n)\n\nSELECT\n  week(wb.week_start) as week_num,\n  year(wb.week_start) as year_num,\n  wb.week_start as starting_week_date,\n  date_diff('week',date'2025-08-04', week_start) as post_reward_week_num,\n  'new user np' as user_type,\n  COUNT(DISTINCT ride_id) AS num_rides_new_np,\n  sum(count(distinct ride_id)) over (order by date_diff('week',date'2025-08-04', week_start) asc) as cum_rides_new_np\nFROM week_bounds wb\nLEFT JOIN shuninga.causal_analysis_bp_raw_data_step_4 d\n  ON DATE(d.requested_at) BETWEEN date(wb.week_start) AND date(wb.week_end)\n  AND d.user_type = 'new-user-NP'\n  AND d.most_used_business_program_type_cleaned = 'managed'\n  AND d.most_used_bp_activated_at BETWEEN DATE'2025-08-04' AND date(wb.week_end)\nGROUP BY 1,2,3,4,5\nORDER BY 3"}
s3://mozartgateway-production-iad/mz/cmd/results/567410400/

,week_num,year_num,starting_week_date,post_reward_week_num,user_type,num_rides_new_np,cum_rides_new_np
0,32,2025,2025-08-04,0,new user np,173,173
1,33,2025,2025-08-11,1,new user np,358,531
2,34,2025,2025-08-18,2,new user np,480,1011
3,35,2025,2025-08-25,3,new user np,478,1489
4,36,2025,2025-09-01,4,new user np,552,2041
5,37,2025,2025-09-08,5,new user np,741,2782
6,38,2025,2025-09-15,6,new user np,943,3725
7,39,2025,2025-09-22,7,new user np,945,4670
8,40,2025,2025-09-29,8,new user np,957,5627
9,41,2025,2025-10-06,9,new user np,1233,6860
10,42,2025,2025-10-13,10,new user np,1111,7971
11,43,2025,2025-10-20,11,new user np,1438,9409
12,44,2025,2025-10-27,12,new user np,1340,10749
13,45,2025,2025-11-03,13,new user np,1422,12171

In [25]:
new_np_rides = pd.merge(new_np_rides,
                        np_preds[["week","perc_addl_activations"]],
                        left_on = "starting_week_date",
                        right_on = "week",
                        how = "left"
                       ) 
new_np_rides = pd.merge(new_np_rides,
                        lift_lookup[['starting_week_date','pre_existing_rider_lift']],
                        on = 'starting_week_date',
                        how = 'left')

In [26]:
new_np_rides

,week_num,year_num,starting_week_date,post_reward_week_num,user_type,num_rides_new_np,cum_rides_new_np,week,perc_addl_activations,pre_existing_rider_lift
0,32,2025,2025-08-04,0,new user np,173,173,2025-08-04,0.000000,0.0023
1,33,2025,2025-08-11,1,new user np,358,531,2025-08-11,0.000000,0.0023
2,34,2025,2025-08-18,2,new user np,480,1011,2025-08-18,0.000000,0.0023
3,35,2025,2025-08-25,3,new user np,478,1489,2025-08-25,0.000000,0.0023
4,36,2025,2025-09-01,4,new user np,552,2041,2025-09-01,0.000000,0.0023
5,37,2025,2025-09-08,5,new user np,741,2782,2025-09-08,0.000000,0.0023
6,38,2025,2025-09-15,6,new user np,943,3725,2025-09-15,0.052326,0.0023
7,39,2025,2025-09-22,7,new user np,945,4670,2025-09-22,0.046358,0.0023
8,40,2025,2025-09-29,8,new user np,957,5627,2025-09-29,0.252941,0.0023
9,41,2025,2025-10-06,9,new user np,1233,6860,2025-10-06,0.220513,0.0130
10,42,2025,2025-10-13,10,new user np,1111,7971,2025-10-13,0.000000,0.0060
11,43,2025,2025-10-20,11,new user np,1438,9409,2025-10-20,0.167598,0.0167
12,44,2025,2025-10-27,12,new user np,1340,10749,2025-10-27,0.201149,0.0167
13,45,2025,2025-11-03,13,new user np,1422,12171,2025-11-03,0.128342,0.0137

In [27]:
### calculate incremental rides
new_np_rides['np_counterfactual_rides'] = new_np_rides['num_rides_new_np']*(1-new_np_rides['perc_addl_activations'])
new_np_rides['np_addl_rides'] = new_np_rides['num_rides_new_np']- new_np_rides['np_counterfactual_rides'] 
new_np_rides['np_incre_rides_from_counterfactual'] = (1-1/(1+new_np_rides['pre_existing_rider_lift']))*new_np_rides['np_counterfactual_rides']
new_np_rides['np_incre_rides_from_addl'] = new_np_rides['np_addl_rides']
new_np_rides

,week_num,year_num,starting_week_date,post_reward_week_num,user_type,num_rides_new_np,cum_rides_new_np,week,perc_addl_activations,pre_existing_rider_lift,np_counterfactual_rides,np_addl_rides,np_incre_rides_from_counterfactual,np_incre_rides_from_addl
0,32,2025,2025-08-04,0,new user np,173,173,2025-08-04,0.000000,0.0023,173.000000,0.000000,0.396987,0.000000
1,33,2025,2025-08-11,1,new user np,358,531,2025-08-11,0.000000,0.0023,358.000000,0.000000,0.821511,0.000000
2,34,2025,2025-08-18,2,new user np,480,1011,2025-08-18,0.000000,0.0023,480.000000,0.000000,1.101467,0.000000
3,35,2025,2025-08-25,3,new user np,478,1489,2025-08-25,0.000000,0.0023,478.000000,0.000000,1.096877,0.000000
4,36,2025,2025-09-01,4,new user np,552,2041,2025-09-01,0.000000,0.0023,552.000000,0.000000,1.266687,0.000000
5,37,2025,2025-09-08,5,new user np,741,2782,2025-09-08,0.000000,0.0023,741.000000,0.000000,1.700389,0.000000
6,38,2025,2025-09-15,6,new user np,943,3725,2025-09-15,0.052326,0.0023,893.656977,49.343023,2.050694,49.343023
7,39,2025,2025-09-22,7,new user np,945,4670,2025-09-22,0.046358,0.0023,901.192053,43.807947,2.067985,43.807947
8,40,2025,2025-09-29,8,new user np,957,5627,2025-09-29,0.252941,0.0023,714.935294,242.064706,1.640578,242.064706
9,41,2025,2025-10-06,9,new user np,1233,6860,2025-10-06,0.220513,0.0130,961.107692,271.892308,12.334057,271.892308
10,42,2025,2025-10-13,10,new user np,1111,7971,2025-10-13,0.000000,0.0060,1111.000000,0.000000,6.626243,0.000000
11,43,2025,2025-10-20,11,new user np,1438,9409,2025-10-20,0.167598,0.0167,1196.994413,241.005587,19.661460,241.005587
12,44,2025,2025-10-27,12,new user np,1340,10749,2025-10-27,0.201149,0.0167,1070.459770,269.540230,17.583041,269.540230
13,45,2025,2025-11-03,13,new user np,1422,12171,2025-11-03,0.128342,0.0137,1239.497326,182.502674,16.751616,182.502674

In [28]:
pre_exisiting_rides.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 0 to 13
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   week_num                 14 non-null     int64
 1   year_num                 14 non-null     int64
 2   starting_week_date       14 non-null     datetime64[ns]
 3   post_reward_week_num     14 non-null     int64
 4   user_type                14 non-null     object
 5   num_rides_pre_existing   14 non-null     int64
 6   cum_rides_pre_existing   14 non-null     int64
 7   pre_existing_rider_lift  14 non-null     float64
 8   pre_existing_incr_rides  14 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(1)
memory usage: 1.1+ KB

In [29]:
#### get final result with all incrementality

incremental_all_rides = pd.merge(
                        pre_exisiting_rides[['week_num','year_num','starting_week_date','post_reward_week_num','num_rides_pre_existing','cum_rides_pre_existing','pre_existing_rider_lift','pre_existing_incr_rides']],
                        new_pp_rides[['starting_week_date','num_rides_new_pp','cum_rides_new_pp','new_rider_pp_lift','pp_counterfactual_rides','pp_addl_rides','pp_incre_rides_from_counterfactual','pp_incre_rides_from_addl']],
                        on = 'starting_week_date',
                        how = 'left'
)

incremental_all_rides = pd.merge(
    incremental_all_rides,
    new_np_rides[['starting_week_date','num_rides_new_np','cum_rides_new_np','np_counterfactual_rides','np_addl_rides','np_incre_rides_from_counterfactual','np_incre_rides_from_addl']],
    on = 'starting_week_date',
    how = 'left'
)
incremental_all_rides['total_incre_rides']= incremental_all_rides['pre_existing_incr_rides']+ incremental_all_rides['pp_incre_rides_from_counterfactual']+ incremental_all_rides['pp_incre_rides_from_addl']+incremental_all_rides['np_incre_rides_from_counterfactual']+incremental_all_rides['np_incre_rides_from_addl']
incremental_all_rides['cum_total_incre_rides'] = incremental_all_rides['total_incre_rides'].cumsum()
incremental_all_rides['total_observed_rides'] = incremental_all_rides['num_rides_pre_existing']+incremental_all_rides['num_rides_new_pp']+incremental_all_rides['num_rides_new_np']
incremental_all_rides['cum_total_observed_rides'] = incremental_all_rides['total_observed_rides'].cumsum()
incremental_all_rides['cum_baseline_rides'] = incremental_all_rides['cum_total_observed_rides']-incremental_all_rides['cum_total_incre_rides']
incremental_all_rides['progress_t_target'] = incremental_all_rides['cum_total_incre_rides']/713894
incremental_all_rides

,week_num,year_num,starting_week_date,post_reward_week_num,num_rides_pre_existing,cum_rides_pre_existing,pre_existing_rider_lift,pre_existing_incr_rides,num_rides_new_pp,cum_rides_new_pp,...,np_counterfactual_rides,np_addl_rides,np_incre_rides_from_counterfactual,np_incre_rides_from_addl,total_incre_rides,cum_total_incre_rides,total_observed_rides,cum_total_observed_rides,cum_baseline_rides,progress_t_target
0,32,2025,2025-08-04,0,71320,71320,0.0023,163.659583,2521,2521,...,173.000000,0.000000,0.396987,0.000000,169.841564,169.841564,74014,74014,7.384416e+04,0.000238
1,33,2025,2025-08-11,1,70202,141522,0.0023,161.094084,3120,5641,...,358.000000,0.000000,0.821511,0.000000,169.075127,338.916692,73680,147694,1.473551e+05,0.000475
2,34,2025,2025-08-18,2,70015,211537,0.0023,160.664971,3782,9423,...,480.000000,0.000000,1.101467,0.000000,299.950313,638.867004,74277,221971,2.213321e+05,0.000895
3,35,2025,2025-08-25,3,67573,279110,0.0023,155.061259,4114,13537,...,478.000000,0.000000,1.096877,0.000000,165.598623,804.465627,72165,294136,2.933315e+05,0.001127
4,36,2025,2025-09-01,4,64022,343132,0.0023,146.912701,4046,17583,...,552.000000,0.000000,1.266687,0.000000,157.463833,961.929460,68620,362756,3.617941e+05,0.001347
5,37,2025,2025-09-08,5,78705,421837,0.0023,180.606106,6346,23929,...,741.000000,0.000000,1.700389,0.000000,586.526845,1548.456306,85792,448548,4.469995e+05,0.002169
6,38,2025,2025-09-15,6,81837,503674,0.0023,187.793176,7778,31707,...,893.656977,49.343023,2.050694,49.343023,837.043205,2385.499511,90558,539106,5.367205e+05,0.003342
7,39,2025,2025-09-22,7,76975,580649,0.0023,176.636237,7533,39240,...,901.192053,43.807947,2.067985,43.807947,618.012562,3003.512073,85453,624559,6.215555e+05,0.004207
8,40,2025,2025-09-29,8,74343,654992,0.0023,170.596528,7680,46920,...,714.935294,242.064706,1.640578,242.064706,892.069770,3895.581843,82980,707539,7.036434e+05,0.005457
9,41,2025,2025-10-06,9,79738,734730,0.0130,1023.291214,9507,56427,...,961.107692,271.892308,12.334057,271.892308,2314.368423,6209.950266,90478,798017,7.918070e+05,0.008699
10,42,2025,2025-10-13,10,80612,815342,0.0060,480.787276,9733,66160,...,1111.000000,0.000000,6.626243,0.000000,1176.172589,7386.122855,91456,889473,8.820869e+05,0.010346
11,43,2025,2025-10-20,11,80710,896052,0.0167,1325.717517,10751,76911,...,1196.994413,241.005587,19.661460,241.005587,2542.491603,9928.614458,92899,982372,9.724434e+05,0.013908
12,44,2025,2025-10-27,12,79180,975232,0.0167,1300.586210,11944,88855,...,1070.459770,269.540230,17.583041,269.540230,3183.485479,13112.099937,92464,1074836,1.061724e+06,0.018367
13,45,2025,2025-11-03,13,81265,1056497,0.0137,1098.284009,12516,101371,...,1239.497326,182.502674,16.751616,182.502674,2461.189126,15573.289062,95203,1170039,1.154466e+06,0.021815

In [30]:
incremental_all_rides.to_csv('incremtal_all_rides.csv',index= False)

In [31]:
incremental_all_rides.to_hive_table(table_name='bp_incremental_all_rides', schema_name='shuninga', if_exists = 'replace')

{"ts": "2025-11-13T21:51:14.141Z", "uuid": "7a869b03-eb84-43f2-82c8-53b0793e70cc", "name": "lyft_data_toolkit.v1_to_v3.hive", "lvlname": "WARNING", "lvlno": 30, "pid": 571, "call_site": "code/venvs/venv/lib/python3.10/site-packages/lyft_data_toolkit/v1_to_v3/hive.py:32", "revision": "b8758af9c9", "msg": "DEPRECATION WARNING: to_hive_table method is outdated.Please use the new write_to_table function in the lyft_data_toolkit package."}
{"ts": "2025-11-13T21:51:14.887Z", "uuid": "6033efba-3690-447b-bd79-2eacca7dbea0", "name": "lyft_data_toolkit.db.read._read.Query", "lvlname": "WARNING", "lvlno": 30, "pid": 571, "call_site": "code/venvs/venv/lib/python3.10/site-packages/lyft_data_toolkit/db/read/_read.py:232", "revision": "b8758af9c9", "msg": "execution_context not supported for spark"}

Created Mozart command
{'mozart_id': 567410472, 'backend': 'spark', 'native_command_id': 'pending', 'job_url': 'https://sql.lyft.net/databases/mozart/queries/567410472', 'query': "SHOW TABLES FROM shuninga LIKE 'bp_incremental_all_rides'"}

{"ts": "2025-11-13T21:51:55.930Z", "uuid": "09bcf4a2-aab2-40d7-a696-35d42a529e60", "name": "lyft_data_toolkit.db.read._read.Query", "lvlname": "WARNING", "lvlno": 30, "pid": 571, "call_site": "code/venvs/venv/lib/python3.10/site-packages/lyft_data_toolkit/db/read/_read.py:232", "revision": "b8758af9c9", "msg": "execution_context not supported for spark"}

Created Mozart command
{'mozart_id': 567410692, 'backend': 'spark', 'native_command_id': 'pending', 'job_url': 'https://sql.lyft.net/databases/mozart/queries/567410692', 'query': 'DROP TABLE IF EXISTS shuninga.bp_incremental_all_rides'}

{"ts": "2025-11-13T21:52:36.402Z", "uuid": "98d63931-1743-4458-98ce-7cf27123fea9", "name": "lyft_data_toolkit.db.read._read.Query", "lvlname": "WARNING", "lvlno": 30, "pid": 571, "call_site": "code/venvs/venv/lib/python3.10/site-packages/lyft_data_toolkit/db/read/_read.py:232", "revision": "b8758af9c9", "msg": "execution_context not supported for spark"}

Created Mozart command
{'mozart_id': 567410953, 'backend': 'spark', 'native_command_id': 'pending', 'job_url': 'https://sql.lyft.net/databases/mozart/queries/567410953', 'query': "CREATE EXTERNAL TABLE IF NOT EXISTS shuninga.bp_incremental_all_rides (week_num bigint, year_num bigint, starting_week_date timestamp, post_reward_week_num bigint, num_rides_pre_existing bigint, cum_rides_pre_existing bigint, pre_existing_rider_lift double, pre_existing_incr_rides double, num_rides_new_pp bigint, cum_rides_new_pp bigint, new_rider_pp_lift double, pp_counterfactual_rides double, pp_addl_rides double, pp_incre_rides_from_counterfactual double, pp_incre_rides_from_addl double, num_rides_new_np bigint, cum_rides_new_np bigint, np_counterfactual_rides double, np_addl_rides double, np_incre_rides_from_counterfactual double, np_incre_rides_from_addl double, total_incre_rides double, cum_total_incre_rides double, total_observed_rides bigint, cum_total_observed_rides bigint, cum_baseline_rides double, progress_t_target double) STORED AS PARQUET LOCATION 's3://lyftqubole-iad/test/shuninga/bp_incremental_all_rides'"}

### extra cells

In [ ]:
# del lift_lookup

In [ ]:
# columns = [
#     "week_num", # begining week number of biweekly              
#     "year_num",  # beginning year number of the biweekly period             
#     "starting_week_date",    
#     "pre_existing_rider_lift", # get it from the tool
#     "new_rider_pp_lift"
# ]

# lift_lookup = pd.DataFrame(columns=columns)

# #  Function to append new biweekly data
# def add_biweekly_entry(df, week_num, year_num, starting_week_date, pre_existing_rider_lift, new_rider_pp_lift):
#     new_row = {
#         "week_num": int(week_num),
#         "year_num": int(year_num),
#         "starting_week_date": pd.to_datetime(starting_week_date),
#         "pre_existing_rider_lift": float(pre_existing_rider_lift),
#         "new_rider_pp_lift": float(new_rider_pp_lift)
#     }
#     return df.append(new_row, ignore_index=True)

# # do this biweekly to update the dataframe
# lift_lookup = add_biweekly_entry(lift_lookup, week_num=44, year_num=2025, starting_week_date="2025-11-02", pre_existing_rider_lift= 0.6, new_rider_pp_lift=1)

# # optional
# lift_lookup.to_csv("biweekly_lift_data.csv", index=False)

# lift_lookup