In [ ]:
#import sys
#!{sys.executable} -m pip install --upgrade "scikit-learn>=1.6.1,<1.7" category_encoders shap lyft_fugue

In [4]:
#usual packages
import sklearn
import numpy as np
from IPython.display import IFrame
from sklearn.model_selection import GroupKFold
from datetime import date
import pandas as pd
from pandas import DataFrame
import subprocess
import sys

#lyft packages
import lyft_data_toolkit.db.write.df
from lyft_data_toolkit.db.read import Compute
from lyft_data_toolkit.db.read import Query
from lyft_data_toolkit.db.read.df import to_dataframe  
from lyft_data_toolkit.v1_to_v3 import hive
from lyft_data_toolkit.v1_to_v3 import presto
from lyft_data_toolkit.v1_to_v3 import spark
from lyft_data_toolkit.v1_to_v3 import trino

#other packages
import matplotlib.pyplot as plt
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA

In [95]:

SQL ="""
--higherlimit
WITH pre_final_table AS (
SELECT DISTINCT 
       sub1.rider_lyft_id,
       sub1.business_program_user_id,
       sub1.business_program_type,
       sub1.business_program_type_cleaned,
       sub1.lyft_signed_up_at,
       sub1.bp_created_at,
       sub1.bp_activated_at,
       sub1.user_type,
       sub1.sub_user_type,
       sub2.first_ride_finished_at
  FROM shuninga.causal_analysis_bp_raw_data_step_4 sub1
  LEFT JOIN coco.dim_user sub2 
    ON sub1.rider_lyft_id = sub2.user_lyft_id
 WHERE sub1.is_business_ride = TRUE 
) 

,pre_final_table_v2 AS (
SELECT rider_lyft_id,
       business_program_user_id,
       business_program_type,
       business_program_type_cleaned,
       lyft_signed_up_at,
       bp_created_at,
       bp_activated_at,
       user_type,
       sub_user_type,
       first_ride_finished_at,
       ROW_NUMBER() OVER(PARTITION BY rider_lyft_id ORDER BY bp_activated_at DESC) rnk 
  FROM pre_final_table 
 WHERE TRUE
)

SELECT DATE_TRUNC('week',CAST(bp_activated_at AS DATE)) week,
       business_program_type_cleaned,
       CASE WHEN DATE_DIFF('day',first_ride_finished_at,bp_activated_at) > 0 THEN 'PP' ELSE 'NP' END AS activation_type, -- proxy for NP/PP
       COUNT(DISTINCT rider_lyft_id) count_activations
  FROM pre_final_table_v2
 WHERE TRUE 
   AND rnk = 1
 GROUP BY 1,2,3
"""  
df = pd.DataFrame()
df = presto.query(SQL, scheduled=True)

{"ts": "2025-11-08T21:32:25.473Z", "uuid": "debdc755-dba7-40d7-a55c-43e9623c262e", "name": "lyft_data_toolkit.v1_to_v3.presto", "lvlname": "WARNING", "lvlno": 30, "pid": 117, "call_site": "code/venvs/venv/lib/python3.10/site-packages/lyft_data_toolkit/v1_to_v3/presto.py:18", "revision": "b8758af9c9", "msg": "DEPRECATION WARNING: presto.query method is outdated.Please use the new query function in the lyft_data_toolkit package."}

Created Mozart command
{'mozart_id': 565027679, 'backend': 'presto', 'native_command_id': '', 'job_url': 'https://sql.lyft.net/databases/mozart/queries/565027679', 'query': "--higherlimit\nWITH pre_final_table AS (\nSELECT DISTINCT \n       sub1.rider_lyft_id,\n       sub1.business_program_user_id,\n       sub1.business_program_type,\n       sub1.business_program_type_cleaned,\n       sub1.lyft_signed_up_at,\n       sub1.bp_created_at,\n       sub1.bp_activated_at,\n       sub1.user_type,\n       sub1.sub_user_type,\n       sub2.first_ride_finished_at\n  FROM shuninga.causal_analysis_bp_raw_data_step_4 sub1\n  LEFT JOIN coco.dim_user sub2 \n    ON sub1.rider_lyft_id = sub2.user_lyft_id\n WHERE sub1.is_business_ride = TRUE \n) \n\n,pre_final_table_v2 AS (\nSELECT rider_lyft_id,\n       business_program_user_id,\n       business_program_type,\n       business_program_type_cleaned,\n       lyft_signed_up_at,\n       bp_created_at,\n       bp_activated_at,\n       user_type,\n       sub_user_type,\n       first_ride_finished_at,\n       ROW_NUMBER() OVER(PARTITION BY rider_lyft_id ORDER BY bp_activated_at DESC) rnk \n  FROM pre_final_table \n WHERE TRUE\n)\n\nSELECT DATE_TRUNC('week',CAST(bp_activated_at AS DATE)) week,\n       business_program_type_cleaned,\n       CASE WHEN DATE_DIFF('day',first_ride_finished_at,bp_activated_at) > 0 THEN 'PP' ELSE 'NP' END AS activation_type, -- proxy for NP/PP\n       COUNT(DISTINCT rider_lyft_id) count_activations\n  FROM pre_final_table_v2\n WHERE TRUE \n   AND rnk = 1\n GROUP BY 1,2,3"}
s3://mozartgateway-production-iad/mz/cmd/results/565027679/

In [96]:
df.columns

Index(['week', 'business_program_type_cleaned', 'activation_type',
       'count_activations'],
      dtype='object')

In [97]:
#pivot table to have columns for managed vs organic activations
df_pivot = df.pivot_table(
    index=["week", "activation_type"],
    columns="business_program_type_cleaned",
    values="count_activations",
    fill_value=0
).reset_index()

print(df_pivot)

business_program_type_cleaned       week activation_type  managed  organic
0                             2021-08-09              NP       10        1
1                             2021-08-09              PP      931      843
2                             2021-08-16              NP       39        4
3                             2021-08-16              PP     1957     1712
4                             2021-08-23              NP       16        3
..                                   ...             ...      ...      ...
439                           2025-10-20              PP     1494     4660
440                           2025-10-27              NP      174      101
441                           2025-10-27              PP     1415     3965
442                           2025-11-03              NP      128       95
443                           2025-11-03              PP     1105     3244

[444 rows x 4 columns]

In [98]:
np_df = df_pivot[df_pivot.activation_type == "NP"]
pp_df = df_pivot[df_pivot.activation_type == "PP"]

In [99]:
import pandas as pd
import numpy as np
from statsmodels.tsa.arima.model import ARIMA
from joblib import load

launch_date = "2025-08-04"

np_df = df_pivot[df_pivot["activation_type"] == "NP"].copy()
pp_df = df_pivot[df_pivot["activation_type"] == "PP"].copy()

def add_lags(df):
    df = df.sort_values("week").reset_index(drop=True)
    df["organic_lag1"] = df["organic"].shift(1).fillna(method='bfill')
    df["organic_lag2"] = df["organic"].shift(2).fillna(method='bfill')
    return df

np_df = add_lags(np_df)
pp_df = add_lags(pp_df)

def predict_post_rewards(df, model_file, use_lag2=True):
    post_df = df[df["week"] >= launch_date].copy()
    if post_df.empty:
        print(f"No post-rewards data for {model_file}")
        return None
    
    #features = ["organic", "organic_lag1"]
    #if use_lag2:
        #features.append("organic_lag2")
    
    X_post = post_df["organic"]
    
    model = load(model_file)
    
    post_df["predicted_managed"] = model.predict(
        start=len(df[df["week"] < launch_date]),
        end=len(df)-1,
        exog=X_post
    )
    
    return post_df[["week", "managed", "predicted_managed"]]

np_post_preds = predict_post_rewards(np_df, "arimax_model_np.pkl", use_lag2=False)
pp_post_preds = predict_post_rewards(pp_df, "arimax_model_pp.pkl", use_lag2=True)

if np_post_preds is not None:
    np_post_preds.to_csv("np_post_rewards_predictions.csv", index=False)
    print("NP post-rewards predictions exported to np_post_rewards_predictions.csv")

if pp_post_preds is not None:
    pp_post_preds.to_csv("pp_post_rewards_predictions.csv", index=False)
    print("PP post-rewards predictions exported to pp_post_rewards_predictions.csv")

print("NP Post-Rewards Predictions:")
print(np_post_preds)

print("PP Post-Rewards Predictions:")
print(pp_post_preds)

NP post-rewards predictions exported to np_post_rewards_predictions.csv
PP post-rewards predictions exported to pp_post_rewards_predictions.csv
NP Post-Rewards Predictions:
business_program_type_cleaned       week  managed  predicted_managed
208                           2025-08-04      134         133.393125
209                           2025-08-11      120         144.028087
210                           2025-08-18      131         141.851859
211                           2025-08-25       92         121.021250
212                           2025-09-01      109         110.594195
213                           2025-09-08      154         160.600157
214                           2025-09-15      172         162.041984
215                           2025-09-22      151         144.260809
216                           2025-09-29      170         126.124932
217                           2025-10-06      195         151.968766
218                           2025-10-13      146         167.915443
219                           2025-10-20      180         148.257659
220                           2025-10-27      174         138.225443
221                           2025-11-03      128         134.456213
PP Post-Rewards Predictions:
business_program_type_cleaned       week  managed  predicted_managed
208                           2025-08-04     1195        1198.082609
209                           2025-08-11     1166        1178.985254
210                           2025-08-18     1207        1141.670695
211                           2025-08-25      947         969.656765
212                           2025-09-01      900         987.518418
213                           2025-09-08     1533        1386.767422
214                           2025-09-15     1663        1468.325867
215                           2025-09-22     1374        1267.625445
216                           2025-09-29     1261        1142.046436
217                           2025-10-06     1549        1286.101580
218                           2025-10-13     1505        1319.653017
219                           2025-10-20     1494        1287.833898
220                           2025-10-27     1415        1098.021326
221                           2025-11-03     1105         902.607450

### 3. calculate additional acitivation percentage - get incremental part into dataframe

In [100]:
np_preds = np_post_preds.reset_index(drop= True)
pp_preds = pp_post_preds.reset_index(drop = True)

In [101]:
np_preds['addl_activations'] = ((np_preds['managed'] - np_preds['predicted_managed']).clip(lower=0)).astype(int)
pp_preds['addl_activations'] = ((pp_preds['managed'] - pp_preds['predicted_managed']).clip(lower=0)).astype(int)

In [102]:
np_preds['perc_addl_activations'] = np_preds['addl_activations']/np_preds['managed']
pp_preds['perc_addl_activations'] = pp_preds['addl_activations']/pp_preds['managed']

In [103]:
np_preds

business_program_type_cleaned,week,managed,predicted_managed,addl_activations,perc_addl_activations
0,2025-08-04,134,133.393125,0,0.000000
1,2025-08-11,120,144.028087,0,0.000000
2,2025-08-18,131,141.851859,0,0.000000
3,2025-08-25,92,121.021250,0,0.000000
4,2025-09-01,109,110.594195,0,0.000000
5,2025-09-08,154,160.600157,0,0.000000
6,2025-09-15,172,162.041984,9,0.052326
7,2025-09-22,151,144.260809,6,0.039735
8,2025-09-29,170,126.124932,43,0.252941
9,2025-10-06,195,151.968766,43,0.220513
10,2025-10-13,146,167.915443,0,0.000000
11,2025-10-20,180,148.257659,31,0.172222
12,2025-10-27,174,138.225443,35,0.201149
13,2025-11-03,128,134.456213,0,0.000000

### 4.store on demand lift in to df

In [28]:
# del lift_lookup

In [29]:
# columns = [
#     "week_num", # begining week number of biweekly              
#     "year_num",  # beginning year number of the biweekly period             
#     "starting_week_date",    
#     "pre_existing_rider_lift", # get it from the tool
#     "new_rider_pp_lift"
# ]

# lift_lookup = pd.DataFrame(columns=columns)

# #  Function to append new biweekly data
# def add_biweekly_entry(df, week_num, year_num, starting_week_date, pre_existing_rider_lift, new_rider_pp_lift):
#     new_row = {
#         "week_num": int(week_num),
#         "year_num": int(year_num),
#         "starting_week_date": pd.to_datetime(starting_week_date),
#         "pre_existing_rider_lift": float(pre_existing_rider_lift),
#         "new_rider_pp_lift": float(new_rider_pp_lift)
#     }
#     return df.append(new_row, ignore_index=True)

# # do this biweekly to update the dataframe
# lift_lookup = add_biweekly_entry(lift_lookup, week_num=44, year_num=2025, starting_week_date="2025-11-02", pre_existing_rider_lift= 0.6, new_rider_pp_lift=1)

# # optional
# lift_lookup.to_csv("biweekly_lift_data.csv", index=False)

# lift_lookup

In [77]:
lift_lookup = pd.read_csv("weekly_lift_data.csv")
lift_lookup = pd.concat([
    lift_lookup,
    pd.DataFrame([{
        "week_num": 40,
        "year_num": 2025,
        "starting_week_date": "2025-09-29",
        "pre_existing_rider_lift": 0.0023,
        "new_rider_pp_lift": 1.833
    }])
], ignore_index=True)

lift_lookup = lift_lookup.sort_values("starting_week_date").drop_duplicates(ignore_index=True).reset_index(drop=True)
lift_lookup
lift_lookup.to_csv("weekly_lift_data.csv",index =False)

In [78]:
lift_lookup

,week_num,year_num,starting_week_date,pre_existing_rider_lift,new_rider_pp_lift
0,32,2025,2025-08-04,0.0023,1.8330
1,33,2025,2025-08-11,0.0023,1.8330
2,34,2025,2025-08-18,0.0023,1.8330
3,35,2025,2025-08-25,0.0023,1.8330
4,36,2025,2025-09-01,0.0023,1.8330
5,37,2025,2025-09-08,0.0023,1.8330
6,38,2025,2025-09-15,0.0023,1.8330
7,39,2025,2025-09-22,0.0023,1.8330
8,40,2025,2025-09-29,0.0023,1.8330
9,41,2025,2025-10-06,0.0130,1.2870
10,42,2025,2025-10-13,0.0060,1.1290
11,43,2025,2025-10-20,0.0167,1.2154
12,44,2025,2025-10-27,0.0167,1.2154

### 5. to build pre existing, new user pp, np rides table

In [108]:
########### parameters 
launch_date = "2025-08-04"
report_start_dt = "2025-10-27"
report_end_dt = "2025-11-02"

In [91]:
pre_existing_sql  = f"""
-- higherlimit
SELECT week(requested_at) as week_num, year(requested_at) as year_num, 
DATE_TRUNC('week',CAST(requested_at AS DATE)) starting_week_date, 
date_diff('week',date'2025-08-04', requested_at) as post_reward_week_num,
'pre_existing' as user_type,
count(distinct ride_id) as num_rides_pre_existing,
sum(count(distinct ride_id)) over (order by date_diff('week',date'2025-08-04', requested_at) asc) as cum_rides_pre_existing
FROM shuninga.causal_analysis_bp_raw_data_step_4 
 WHERE user_type = 'pre-existing-user'
   AND most_used_business_program_type_cleaned = 'managed' 
  and date(requested_at) between date'{launch_date}' and date'{report_end_dt}'
  group by 1,2,3,4,5
  order by 1,2
  """ 
pre_exisiting_rides = pd.DataFrame()
pre_exisiting_rides = trino.query(pre_existing_sql, scheduled= True)

{"ts": "2025-11-08T21:29:28.879Z", "uuid": "dee57803-fc9b-46be-ac08-05ccf4dceb5f", "name": "lyft_data_toolkit.v1_to_v3.trino", "lvlname": "WARNING", "lvlno": 30, "pid": 117, "call_site": "code/venvs/venv/lib/python3.10/site-packages/lyft_data_toolkit/v1_to_v3/trino.py:26", "revision": "b8758af9c9", "msg": "DEPRECATION WARNING: trino.query method is outdated.Please use the new query function in the lyft_data_toolkit package."}

Created Mozart command
{'mozart_id': 565027218, 'backend': 'presto', 'native_command_id': '', 'job_url': 'https://sql.lyft.net/databases/mozart/queries/565027218', 'query': "-- higherlimit\nSELECT week(requested_at) as week_num, year(requested_at) as year_num, \nDATE_TRUNC('week',CAST(requested_at AS DATE)) starting_week_date, \ndate_diff('week',date'2025-08-04', requested_at) as post_reward_week_num,\n'pre_existing' as user_type,\ncount(distinct ride_id) as num_rides_pre_existing,\nsum(count(distinct ride_id)) over (order by date_diff('week',date'2025-08-04', requested_at) asc) as cum_rides_pre_existing\nFROM shuninga.causal_analysis_bp_raw_data_step_4 \n WHERE user_type = 'pre-existing-user'\n   AND most_used_business_program_type_cleaned = 'managed' \n  and date(requested_at) between date'2025-08-04' and date'2025-11-02'\n  group by 1,2,3,4,5\n  order by 1,2"}
s3://mozartgateway-production-iad/mz/cmd/results/565027218/

In [81]:
pre_exisiting_rides.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   week_num                13 non-null     int64
 1   year_num                13 non-null     int64
 2   starting_week_date      13 non-null     datetime64[ns]
 3   post_reward_week_num    13 non-null     int64
 4   user_type               13 non-null     object
 5   num_rides_pre_existing  13 non-null     int64
 6   num_rides               13 non-null     int64
dtypes: datetime64[ns](1), int64(5), object(1)
memory usage: 856.0+ bytes

In [92]:
lift_lookup["starting_week_date"] = pd.to_datetime(lift_lookup["starting_week_date"])
pre_exisiting_rides = pd.merge(
    pre_exisiting_rides,
    lift_lookup[["starting_week_date", "pre_existing_rider_lift"]],
    on="starting_week_date",
    how="left" 
)
pre_exisiting_rides.drop_duplicates(ignore_index=True)

,week_num,year_num,starting_week_date,post_reward_week_num,user_type,num_rides_pre_existing,cum_rides_pre_existing,pre_existing_rider_lift
0,32,2025,2025-08-04,0,pre_existing,71059,71059,0.0023
1,33,2025,2025-08-11,1,pre_existing,69956,141015,0.0023
2,34,2025,2025-08-18,2,pre_existing,69810,210825,0.0023
3,35,2025,2025-08-25,3,pre_existing,67387,278212,0.0023
4,36,2025,2025-09-01,4,pre_existing,63799,342011,0.0023
5,37,2025,2025-09-08,5,pre_existing,78449,420460,0.0023
6,38,2025,2025-09-15,6,pre_existing,81648,502108,0.0023
7,39,2025,2025-09-22,7,pre_existing,76776,578884,0.0023
8,40,2025,2025-09-29,8,pre_existing,74079,652963,0.0023
9,41,2025,2025-10-06,9,pre_existing,79497,732460,0.0130
10,42,2025,2025-10-13,10,pre_existing,80352,812812,0.0060
11,43,2025,2025-10-20,11,pre_existing,80438,893250,0.0167
12,44,2025,2025-10-27,12,pre_existing,78927,972177,0.0167

In [93]:
pre_exisiting_rides['incr_rides'] =  (1-1/(1+pre_exisiting_rides['pre_existing_rider_lift']))*pre_exisiting_rides['num_rides_pre_existing']
pre_exisiting_rides

,week_num,year_num,starting_week_date,post_reward_week_num,user_type,num_rides_pre_existing,cum_rides_pre_existing,pre_existing_rider_lift,incr_rides
0,32,2025,2025-08-04,0,pre_existing,71059,71059,0.0023,163.060660
1,33,2025,2025-08-11,1,pre_existing,69956,141015,0.0023,160.529582
2,34,2025,2025-08-18,2,pre_existing,69810,210825,0.0023,160.194553
3,35,2025,2025-08-25,3,pre_existing,67387,278212,0.0023,154.634441
4,36,2025,2025-09-01,4,pre_existing,63799,342011,0.0023,146.400978
5,37,2025,2025-09-08,5,pre_existing,78449,420460,0.0023,180.018657
6,38,2025,2025-09-15,6,pre_existing,81648,502108,0.0023,187.359473
7,39,2025,2025-09-22,7,pre_existing,76776,578884,0.0023,176.179587
8,40,2025,2025-09-29,8,pre_existing,74079,652963,0.0023,169.990721
9,41,2025,2025-10-06,9,pre_existing,79497,732460,0.0130,1020.198421
10,42,2025,2025-10-13,10,pre_existing,80352,812812,0.0060,479.236581
11,43,2025,2025-10-20,11,pre_existing,80438,893250,0.0167,1321.249730
12,44,2025,2025-10-27,12,pre_existing,78927,972177,0.0167,1296.430510

In [104]:
########## pp new user 
# np_preds 
# pp_preds
np_preds

business_program_type_cleaned,week,managed,predicted_managed,addl_activations,perc_addl_activations
0,2025-08-04,134,133.393125,0,0.000000
1,2025-08-11,120,144.028087,0,0.000000
2,2025-08-18,131,141.851859,0,0.000000
3,2025-08-25,92,121.021250,0,0.000000
4,2025-09-01,109,110.594195,0,0.000000
5,2025-09-08,154,160.600157,0,0.000000
6,2025-09-15,172,162.041984,9,0.052326
7,2025-09-22,151,144.260809,6,0.039735
8,2025-09-29,170,126.124932,43,0.252941
9,2025-10-06,195,151.968766,43,0.220513
10,2025-10-13,146,167.915443,0,0.000000
11,2025-10-20,180,148.257659,31,0.172222
12,2025-10-27,174,138.225443,35,0.201149
13,2025-11-03,128,134.456213,0,0.000000

In [109]:
new_user_pp_sql = f"""
WITH week_bounds AS (
  SELECT 
    week_start,
    DATE_ADD('day', 6, week_start) AS week_end
  FROM UNNEST(SEQUENCE(DATE '2025-08-04', DATE'{report_end_dt}', INTERVAL '7' DAY)) AS t(week_start)
)

SELECT
  week(wb.week_start) as week_num,
  year(wb.week_start) as year_num,
  wb.week_start as starting_week_date,
  date_diff('week',date'2025-08-04', week_start) as post_reward_week_num,
  'new user pp' as user_type,
  COUNT(DISTINCT ride_id) AS num_rides_new_pp,
  sum(count(distinct ride_id)) over (order by date_diff('week',date'2025-08-04', week_start) asc) as cum_rides_new_pp
FROM week_bounds wb
LEFT JOIN shuninga.causal_analysis_bp_raw_data_step_4 d
  ON DATE(d.requested_at) BETWEEN date(wb.week_start) AND date(wb.week_end)
  AND d.user_type = 'new-user-PP'
  AND d.most_used_business_program_type_cleaned = 'managed'
  AND d.most_used_bp_activated_at BETWEEN DATE'2025-08-04' AND date(wb.week_end)
GROUP BY 1,2,3,4,5
ORDER BY 3
"""
new_pp_rides = pd.DataFrame()
new_pp_rides = trino.query(new_user_pp_sql,scheduled =True)
new_pp_rides

{"ts": "2025-11-08T22:03:13.389Z", "uuid": "ef058085-f0a3-45b8-afc6-2d28da45e2d9", "name": "lyft_data_toolkit.v1_to_v3.trino", "lvlname": "WARNING", "lvlno": 30, "pid": 117, "call_site": "code/venvs/venv/lib/python3.10/site-packages/lyft_data_toolkit/v1_to_v3/trino.py:26", "revision": "b8758af9c9", "msg": "DEPRECATION WARNING: trino.query method is outdated.Please use the new query function in the lyft_data_toolkit package."}

Created Mozart command
{'mozart_id': 565032785, 'backend': 'presto', 'native_command_id': '', 'job_url': 'https://sql.lyft.net/databases/mozart/queries/565032785', 'query': "WITH week_bounds AS (\n  SELECT \n    week_start,\n    DATE_ADD('day', 6, week_start) AS week_end\n  FROM UNNEST(SEQUENCE(DATE '2025-08-04', DATE'2025-11-02', INTERVAL '7' DAY)) AS t(week_start)\n)\n\nSELECT\n  week(wb.week_start) as week_num,\n  year(wb.week_start) as year_num,\n  wb.week_start as starting_week_date,\n  date_diff('week',date'2025-08-04', week_start) as post_reward_week_num,\n  'new user pp' as user_type,\n  COUNT(DISTINCT ride_id) AS num_rides_new_pp,\n  sum(count(distinct ride_id)) over (order by date_diff('week',date'2025-08-04', week_start) asc) as cum_rides_new_pp\nFROM week_bounds wb\nLEFT JOIN shuninga.causal_analysis_bp_raw_data_step_4 d\n  ON DATE(d.requested_at) BETWEEN date(wb.week_start) AND date(wb.week_end)\n  AND d.user_type = 'new-user-PP'\n  AND d.most_used_business_program_type_cleaned = 'managed'\n  AND d.most_used_bp_activated_at BETWEEN DATE'2025-08-04' AND date(wb.week_end)\nGROUP BY 1,2,3,4,5\nORDER BY 3"}
s3://mozartgateway-production-iad/mz/cmd/results/565032785/

,week_num,year_num,starting_week_date,post_reward_week_num,user_type,num_rides_new_pp,cum_rides_new_pp
0,32,2025,2025-08-04,0,new user pp,2521,2521
1,33,2025,2025-08-11,1,new user pp,3113,5634
2,34,2025,2025-08-18,2,new user pp,3795,9429
3,35,2025,2025-08-25,3,new user pp,4123,13552
4,36,2025,2025-09-01,4,new user pp,4053,17605
5,37,2025,2025-09-08,5,new user pp,6340,23945
6,38,2025,2025-09-15,6,new user pp,7793,31738
7,39,2025,2025-09-22,7,new user pp,7544,39282
8,40,2025,2025-09-29,8,new user pp,7689,46971
9,41,2025,2025-10-06,9,new user pp,9510,56481
10,42,2025,2025-10-13,10,new user pp,9744,66225
11,43,2025,2025-10-20,11,new user pp,10765,76990
12,44,2025,2025-10-27,12,new user pp,11943,88933

In [ ]:
import pandas as pd
from datetime import datetime, timedelta

launch_date = datetime(2025, 8, 4)
final_report_end_dt = datetime(2025, 11, 31) 

week_ranges = []
current_start = launch_date

while current_start < final_report_end_dt:
    current_end = current_start + timedelta(days=6)  # Sunday if Monday is start
    week_ranges.append((current_start, current_end))
    current_start = current_end + timedelta(days=1)  # Next Monday

week_ranges

In [ ]:
results = []
for week_start, week_end in week_ranges:
    sql = f"""
    SELECT COUNT(DISTINCT ride_id) AS num_rides
    FROM shuninga.causal_analysis_bp_raw_data_step_4
    WHERE user_type = 'new-user-PP'
      AND most_used_business_program_type_cleaned = 'managed'
      AND most_used_bp_activated_at BETWEEN DATE '2025-08-04' AND DATE '{week_end.strftime('%Y-%m-%d')}'
      AND DATE(requested_at) BETWEEN DATE '{week_start.strftime('%Y-%m-%d')}' AND DATE '{week_end.strftime('%Y-%m-%d')}'
    """
    week_result = trino.query(sql, scheduled = True)  
    num_rides = week_result['num_rides'][0]  # adapt to your query function
    results.append({'week_start': week_start, 'week_end': week_end, 'num_rides': num_rides})

pp_rides = pd.DataFrame(results)

In [106]:
pp_Rides

NameError: name 'pp_Rides' is not defined

In [88]:
# rides_table_columns = [
#     "week_starting_date",    
#     "week_num", # begining week number              
#     "year_num",  # beginning year number    
#     "user_type",
#     "num_rides"
# ]

# mbp_rides_table = pd.DataFrame(columns=rides_table_columns)
# #  Function to append weekly data
# def add_biweekly_entry(df,week_starting_date, week_num, year_num,user_type,num_rides):
#     new_row = {
#         "starting_week_date": pd.to_datetime(week_starting_date),
#         "week_num": int(week_num),
#         "year_num": int(year_num),
#         "user_type": str(user_type),
#         "num_rides": int(num_rides)
#     }
#     return pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)

### only ran when first creating base table

In [104]:
# weekly_mbp_base = f"""
# SELECT 
# DATE_TRUNC('week',CAST(requested_at AS DATE)) week_starting_date,
# week(requested_at) as week_num,
# year(requested_at) as year_num,
# user_type,
# count(distinct ride_Id) as num_rides 
# FROM shuninga.causal_analysis_bp_raw_data_step_4 
#  WHERE user_type = 'pre-existing-user'
#    AND most_used_business_program_type_cleaned = 'managed' 
#    AND date(requested_at) BETWEEN date'{launch_date}' AND date'{report_end_dt}'
#    group by 1,2,3,4
# """
# weekly_mbp_rides_base = pd.DataFrame()
# weekly_mbp_rides_base = trino.query(weekly_mbp_base, scheduled=True)

{"ts": "2025-11-07T01:06:48.311Z", "uuid": "bce8b1d0-a6bb-40e5-87f3-51b57d26610f", "name": "lyft_data_toolkit.v1_to_v3.trino", "lvlname": "WARNING", "lvlno": 30, "pid": 4676, "call_site": "code/venvs/venv/lib/python3.10/site-packages/lyft_data_toolkit/v1_to_v3/trino.py:26", "revision": "b8758af9c9", "msg": "DEPRECATION WARNING: trino.query method is outdated.Please use the new query function in the lyft_data_toolkit package."}

Created Mozart command
{'mozart_id': 564188365, 'backend': 'presto', 'native_command_id': '', 'job_url': 'https://sql.lyft.net/databases/mozart/queries/564188365', 'query': "SELECT \nDATE_TRUNC('week',CAST(requested_at AS DATE)) week_starting_date,\nweek(requested_at) as week_num,\nyear(requested_at) as year_num,\nuser_type,\ncount(distinct ride_Id) as num_rides \nFROM shuninga.causal_analysis_bp_raw_data_step_4 \n WHERE user_type = 'pre-existing-user'\n   AND most_used_business_program_type_cleaned = 'managed' \n   AND date(requested_at) BETWEEN date'2025-08-04' AND date'2025-10-26'\n   group by 1,2,3,4"}
s3://mozartgateway-production-iad/mz/cmd/results/564188365/

In [124]:
weekly_mbp_rides_base = pd.read_csv("weekly_mbp_data_by_segments.csv")

In [138]:
weekly_mbp_rides_base

   week_starting_date  week_num  year_num          user_type  num_rides
0          2025-09-01        36      2025  pre-existing-user      63688
1          2025-10-20        43      2025  pre-existing-user      80227
2          2025-10-06        41      2025  pre-existing-user      79379
3          2025-08-11        33      2025  pre-existing-user      69869
4          2025-10-13        42      2025  pre-existing-user      80222
5          2025-09-15        38      2025  pre-existing-user      81492
6          2025-09-22        39      2025  pre-existing-user      76604
7          2025-08-04        32      2025  pre-existing-user      70925
8          2025-08-18        34      2025  pre-existing-user      69700
9          2025-09-29        40      2025  pre-existing-user      73931
10         2025-08-25        35      2025  pre-existing-user      67287
11         2025-09-08        37      2025  pre-existing-user      78269
12         2025-10-27        44      2025  pre-existing-user      78763

In [139]:
weekly_mbp_rides_base['week_starting_date'] = pd.to_datetime(weekly_mbp_rides_base['week_starting_date']).dt.strftime('%Y-%m-%d')

In [142]:
pre_existing_sql = f"""
--higherlimit
SELECT DATE_TRUNC('week',CAST(requested_at AS DATE)) week_starting_date,
week(requested_at) as week_num,
year(requested_at) as year_num,
user_type,
count(distinct ride_id) as num_rides 
FROM shuninga.causal_analysis_bp_raw_data_step_4 
 WHERE user_type = 'pre-existing-user'
   AND most_used_business_program_type_cleaned = 'managed' 
  and date(requested_at) between date'{report_start_dt}' and date'{report_end_dt}'
   group by 1,2,3,4
"""  
pre_existing_rides = pd.DataFrame()
pre_existing_rides = trino.query(pre_existing_sql, scheduled=True)
pre_existing_rides['week_starting_date'] = pd.to_datetime(pre_existing_rides['week_starting_date']).dt.strftime('%Y-%m-%d')
pre_existing_rides

{"ts": "2025-11-07T01:40:05.312Z", "uuid": "a0aaec48-4430-4d3d-85e6-4e55e30fa39d", "name": "lyft_data_toolkit.v1_to_v3.trino", "lvlname": "WARNING", "lvlno": 30, "pid": 4676, "call_site": "code/venvs/venv/lib/python3.10/site-packages/lyft_data_toolkit/v1_to_v3/trino.py:26", "revision": "b8758af9c9", "msg": "DEPRECATION WARNING: trino.query method is outdated.Please use the new query function in the lyft_data_toolkit package."}

Created Mozart command
{'mozart_id': 564201248, 'backend': 'presto', 'native_command_id': '', 'job_url': 'https://sql.lyft.net/databases/mozart/queries/564201248', 'query': "--higherlimit\nSELECT DATE_TRUNC('week',CAST(requested_at AS DATE)) week_starting_date,\nweek(requested_at) as week_num,\nyear(requested_at) as year_num,\nuser_type,\ncount(distinct ride_id) as num_rides \nFROM shuninga.causal_analysis_bp_raw_data_step_4 \n WHERE user_type = 'pre-existing-user'\n   AND most_used_business_program_type_cleaned = 'managed' \n  and date(requested_at) between date'2025-10-27' and date'2025-11-02'\n   group by 1,2,3,4"}
s3://mozartgateway-production-iad/mz/cmd/results/564201248/

  week_starting_date  week_num  year_num          user_type  num_rides
0         2025-10-27        44      2025  pre-existing-user      78763

In [145]:
weekly_mbp_rides_base = pd.concat([weekly_mbp_rides_base, pre_existing_rides], ignore_index=True)

In [146]:
weekly_mbp_rides_base = weekly_mbp_rides_base.drop_duplicates(subset=["week_starting_date", "week_num", "year_num", "user_type","num_rides"])

In [147]:
weekly_mbp_rides_base

   week_starting_date  week_num  year_num          user_type  num_rides
0          2025-09-01        36      2025  pre-existing-user      63688
1          2025-10-20        43      2025  pre-existing-user      80227
2          2025-10-06        41      2025  pre-existing-user      79379
3          2025-08-11        33      2025  pre-existing-user      69869
4          2025-10-13        42      2025  pre-existing-user      80222
5          2025-09-15        38      2025  pre-existing-user      81492
6          2025-09-22        39      2025  pre-existing-user      76604
7          2025-08-04        32      2025  pre-existing-user      70925
8          2025-08-18        34      2025  pre-existing-user      69700
9          2025-09-29        40      2025  pre-existing-user      73931
10         2025-08-25        35      2025  pre-existing-user      67287
11         2025-09-08        37      2025  pre-existing-user      78269
12         2025-10-27        44      2025  pre-existing-user      78763

In [148]:
if weekly_mbp_rides_base is not None:
    weekly_mbp_rides_base.to_csv("weekly_mbp_data_by_segments.csv", index=False)
    print("exported to weekly_mbp_data_by_segments.csv")

exported to weekly_mbp_data_by_segments.csv

In [160]:
report_start_dt = "2025-08-25"
report_end_dt = "2025-09-01"

In [161]:
new_user_pp_sql = f"""
--higherlimit
SELECT DATE_TRUNC('week',CAST(requested_at AS DATE)) week_starting_date,
week(requested_at) as week_num,
year(requested_at) as year_num,
user_type,
count(distinct ride_Id) as num_rides 
FROM shuninga.causal_analysis_bp_raw_data_step_4 
 WHERE user_type = 'new-user-PP'
   AND most_used_business_program_type_cleaned = 'managed' 
   and most_used_bp_activated_at between date'{launch_date}' and date'{report_end_dt}'
   and date(requested_at) between date'{report_start_dt}' and date'{report_end_dt}'
   group by 1,2,3,4
"""  
new_user_pp_rides = pd.DataFrame()
new_user_pp_rides = trino.query(new_user_pp_sql, scheduled=True)
new_user_pp_rides

{"ts": "2025-11-07T01:47:51.312Z", "uuid": "f82658b1-a3a3-49aa-8213-846b95bc18fe", "name": "lyft_data_toolkit.v1_to_v3.trino", "lvlname": "WARNING", "lvlno": 30, "pid": 4676, "call_site": "code/venvs/venv/lib/python3.10/site-packages/lyft_data_toolkit/v1_to_v3/trino.py:26", "revision": "b8758af9c9", "msg": "DEPRECATION WARNING: trino.query method is outdated.Please use the new query function in the lyft_data_toolkit package."}

Created Mozart command
{'mozart_id': 564204573, 'backend': 'presto', 'native_command_id': '', 'job_url': 'https://sql.lyft.net/databases/mozart/queries/564204573', 'query': "--higherlimit\nSELECT DATE_TRUNC('week',CAST(requested_at AS DATE)) week_starting_date,\nweek(requested_at) as week_num,\nyear(requested_at) as year_num,\nuser_type,\ncount(distinct ride_Id) as num_rides \nFROM shuninga.causal_analysis_bp_raw_data_step_4 \n WHERE user_type = 'new-user-PP'\n   AND most_used_business_program_type_cleaned = 'managed' \n   and most_used_bp_activated_at between date'2025-08-04' and date'2025-08-24'\n   and date(requested_at) between date'2025-08-18' and date'2025-08-24'\n   group by 1,2,3,4"}
s3://mozartgateway-production-iad/mz/cmd/results/564204573/

  week_starting_date  week_num  year_num    user_type  num_rides
0         2025-08-18        34      2025  new-user-PP       3788

In [162]:
new_user_pp_rides['week_starting_date'] = pd.to_datetime(new_user_pp_rides['week_starting_date']).dt.strftime('%Y-%m-%d')

#### append new user pp to base

In [163]:
weekly_mbp_rides_base = pd.concat([weekly_mbp_rides_base, new_user_pp_rides], ignore_index=True)
weekly_mbp_rides_base = weekly_mbp_rides_base.drop_duplicates(subset=["week_starting_date", "week_num", "year_num", "user_type","num_rides"])

In [164]:
weekly_mbp_rides_base

   week_starting_date  week_num  year_num          user_type  num_rides
0          2025-09-01        36      2025  pre-existing-user      63688
1          2025-10-20        43      2025  pre-existing-user      80227
2          2025-10-06        41      2025  pre-existing-user      79379
3          2025-08-11        33      2025  pre-existing-user      69869
4          2025-10-13        42      2025  pre-existing-user      80222
5          2025-09-15        38      2025  pre-existing-user      81492
6          2025-09-22        39      2025  pre-existing-user      76604
7          2025-08-04        32      2025  pre-existing-user      70925
8          2025-08-18        34      2025  pre-existing-user      69700
9          2025-09-29        40      2025  pre-existing-user      73931
10         2025-08-25        35      2025  pre-existing-user      67287
11         2025-09-08        37      2025  pre-existing-user      78269
12         2025-10-27        44      2025  pre-existing-user      78763
13         2025-08-04        32      2025        new-user-PP       2525
14         2025-08-11        33      2025        new-user-PP       3116
15         2025-08-18        34      2025        new-user-PP       3788

exported to weekly_mbp_data_by_segments.csv

{"ts": "2025-11-07T00:18:23.485Z", "uuid": "6cc86ee1-6399-4483-b50d-6cf4d0d65552", "name": "lyft_data_toolkit.v1_to_v3.trino", "lvlname": "WARNING", "lvlno": 30, "pid": 4676, "call_site": "code/venvs/venv/lib/python3.10/site-packages/lyft_data_toolkit/v1_to_v3/trino.py:26", "revision": "b8758af9c9", "msg": "DEPRECATION WARNING: trino.query method is outdated.Please use the new query function in the lyft_data_toolkit package."}

Created Mozart command
{'mozart_id': 564169865, 'backend': 'presto', 'native_command_id': '', 'job_url': 'https://sql.lyft.net/databases/mozart/queries/564169865', 'query': "--higherlimit\nSELECT count(distinct ride_id) as num_rides FROM shuninga.causal_analysis_bp_raw_data_step_4 \n WHERE user_type = 'new-user-PP'\n   AND most_used_business_program_type_cleaned = 'managed' \n   and most_used_bp_activated_at between date'2025-08-04' and date'2025-11-02'\n   and date(requested_at) between date'2025-10-20' and date'2025-11-02'"}
s3://mozartgateway-production-iad/mz/cmd/results/564169865/

   num_rides
0      23481

In [83]:
new_user_np_sql = f"""
-- higherlimit
SELECT count(distinct ride_id) as num_rides FROM shuninga.causal_analysis_bp_raw_data_step_4 
 WHERE user_type = 'new-user-NP'
   AND most_used_business_program_type_cleaned = 'managed' 
   and most_used_bp_activated_at between date'{launch_date}' and date'{report_end_dt}'
   and date(requested_at) between date'{report_start_dt}' and date'{report_end_dt}'
"""
new_user_np_rides = pd.DataFrame()
new_user_np_rides = trino.query(new_user_np_sql, scheduled = True)
new_user_np_rides

{"ts": "2025-11-07T00:18:44.338Z", "uuid": "b2d39f54-9d21-47ec-aeec-47898dae4d29", "name": "lyft_data_toolkit.v1_to_v3.trino", "lvlname": "WARNING", "lvlno": 30, "pid": 4676, "call_site": "code/venvs/venv/lib/python3.10/site-packages/lyft_data_toolkit/v1_to_v3/trino.py:26", "revision": "b8758af9c9", "msg": "DEPRECATION WARNING: trino.query method is outdated.Please use the new query function in the lyft_data_toolkit package."}

Created Mozart command
{'mozart_id': 564169994, 'backend': 'presto', 'native_command_id': '', 'job_url': 'https://sql.lyft.net/databases/mozart/queries/564169994', 'query': "-- higherlimit\nSELECT count(distinct ride_id) as num_rides FROM shuninga.causal_analysis_bp_raw_data_step_4 \n WHERE user_type = 'new-user-NP'\n   AND most_used_business_program_type_cleaned = 'managed' \n   and most_used_bp_activated_at between date'2025-08-04' and date'2025-11-02'\n   and date(requested_at) between date'2025-10-20' and date'2025-11-02'"}
s3://mozartgateway-production-iad/mz/cmd/results/564169994/

   num_rides
0       2804